
<hr class="my-4">
<h2 class="h2">¿De que nos encargamos?</h2>
<hr class="my-4">
 <div class="album py-5 bg-light">

    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm" >
            <img src="https://image.freepik.com/vector-gratis/concepto-ilustracion-gente-negocios_52683-34769.jpg"
            class="bd-placeholder-img card-img-top" width="100%" height="225"
             role="img" aria-label="Placeholder: Thumbnail"
            preserveAspectRatio="xMidYMid slice" focusable="false"/>

            <div class="card-body">
              <p class="card-text">iCRUD tiene la misión de dirigir,
                gestionar y resolver los asuntos laborales en apoyo a todas las dependencias administrativas.</p>
              <div class="d-flex justify-content-between align-items-center">

                <small class="text-muted">Listar empleados</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://image.freepik.com/vector-gratis/concepto-ilustracion-gente-negocios_52683-34771.jpg"
            class="bd-placeholder-img card-img-top" width="100%" height="225"
             role="img" aria-label="Placeholder: Thumbnail"
            preserveAspectRatio="xMidYMid slice" focusable="false"/>
            <div class="card-body">
              <p class="card-text">iCRUD se encarga de establecer los mecanismos para operar en forma eficiente el trámite de pago de las remuneraciones del personal </p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">Eliminar empleados</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://image.freepik.com/vector-gratis/ilustracion-personas-trabajando-juntas_52683-22181.jpg"
            class="bd-placeholder-img card-img-top" width="100%" height="225"
             role="img" aria-label="Placeholder: Thumbnail"
            preserveAspectRatio="xMidYMid slice" focusable="false"/>
            <div class="card-body">
              <p class="card-text">iCRUD tiene un equipo de personas que crean campañas de publicidad sin perder de vista los objetivos planteados por el cliente.</p>
              <div class="d-flex justify-content-between align-items-center">

                <small class="text-muted">Buscar empleados</small>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

