<div id="container">
  <div id="error-box">
    <mat-dialog-actions >
      <div class="dot" mat-raised-button  [mat-dialog-close]="true"></div>
    </mat-dialog-actions>
    <div class="face2">
      <div class="eye"></div>
      <div class="eye right"></div>
      <div class="mouth sad"></div>
    </div>
    <div class="shadow move"></div>
    <div class="message">
      <mat-dialog-content>
      <h1 class="alert">Error!</h1><p>{{data.mensaje}}
      </mat-dialog-content>
    </div>

  </div>
  </div>
